NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_YXdhaXRlZC1hbmNob3Z5LTYxLmNsZXJrLmFjY291bnRzLmRldiQ"
NEXT_PUBLIC_API_URL="pk_test_YXdhaXRlZC1hbmNob3Z5LTYxLmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY="sk_test_T7H0uJ5GbBuRANWHccjB1LtzELw47TbC4nHUzmEsnH"